:host {
	cursor: pointer;
	display: inline-block;
	padding: 8px;
	background: var(--mat-app-background-color);
	border: 1px solid var(--mat-divider-color);
	max-width: #{300px + 8px * 2 + 2px};
	height: auto;
}

:host,
img {
	border-radius: 4px;
}

img {
	display: block;
}
