@import 'variables';

:host {
	position: sticky;
	z-index: 999;
	top: 8px;
	left: 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: $navbar-height;
	gap: 1rem;
	border-radius: 32px;
	background: #fff;
	border: 1px solid var(--mat-divider-color);
	
	@supports (backdrop-filter: blur(8px)) {
		background-color: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(8px);
	}
}

button:not(.mat-primary) {
	background: #fff;
}
