@use 'sass:map';

@import 'variables';

$background: map.get(map.get($theme, 'background'), 'card');
$border-color: map.get(map.get($theme, 'foreground'), 'dividers');

:host {
	position: fixed;
	width: 100%;
	z-index: 999;
	top: $navbar-top;
	left: 0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: $navbar-height;
	gap: 1rem;
	border-radius: 32px;
	background: $background;
	border: 1px solid $border-color;

	@supports (backdrop-filter: blur(8px)) {
		background-color: rgba($background, 0.7);
		backdrop-filter: blur(8px);
	}
}

button:not(.mat-primary) {
	background: $background;
}
