@import 'variables';

.loading {
    height: calc(100vh - 8rem - #{$navbar-height});
    height: calc(100dvh - 8rem - #{$navbar-height});
    display: flex;
    align-items: center;
    justify-content: center;
}