:host {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 32px;

	@media screen and (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(2, 318px);
	}

	@media screen and (min-width: 1280px) {
		grid-template-columns: repeat(3, 318px);
	}
}
